@import 'antd/dist/antd.css';

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-icon {
  vertical-align: middle;
  margin-bottom: 2px;
  margin-right: 2px;
}

#root {
  height: 100vh;
}

.ant-layout-header {
  padding: 0 20px;
  background-color: rgba(0, 0, 0, .7);

  .brand {
    color: #fff;
    font-weight: 500;;

    sup {
      font-size: 12px;
      zoom: .8;
      top: -1em;
    }
  }
}

@import "./landing.scss"