
.fastboard-bottom-right {
  right: auto !important;
  left: 8px !important;
  bottom: 50px !important;
}

#whiteboard{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 64px;
  z-index: 1;
  background: #FFF;

  &.active{ z-index: 999; }

  .whiteboard-loading{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30px;
  }
}
